---
import "@/styles/global.css";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { siteName, siteLang, themeColor } from "@/data/config";
import type { LayoutProps as Props } from "@/types";

const baseUrl = Astro.url.href;
const { title, seoTitle, seoDescription, noindex = false } = Astro.props;
---

<!doctype html>
<html lang={siteLang}>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="theme-color" content={themeColor} />
		<meta name="description" content={seoDescription} />
		{noindex && <meta name="robots" content="noindex,nofollow" />}
		<link rel="author" href="humans.txt" />

		<link rel="icon" type="image/png" href="/images/NND_logo_no_background.png" sizes="96x96" />
		<link rel="icon" type="image/png" href="/images/NND_logo_no_background.png" />
		<link rel="shortcut icon" href="/images/NND_logo_no_background.png" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<meta name="apple-mobile-web-app-title" content={siteName} />
		<link rel="manifest" href="/site.webmanifest" />

		<meta property="og:url" content={Astro.url} />
		<meta property="og:type" content="website" />
		<meta property="og:title" content={`${seoTitle} | ${siteName}`} />
		<meta property="og:image" content={`${baseUrl}/images/og-image.jpg`} />
		<meta property="og:description" content={seoDescription} />
		<meta property="og:site_name" content={siteName} />
		<meta property="og:locale" content={siteLang} />

		<meta name="twitter:card" content="summary" />
		<meta name="twitter:url" content={Astro.url} />
		<meta name="twitter:title" content={`${seoTitle} | ${siteName}`} />
		<meta name="twitter:description" content={seoDescription} />
		<!-- <meta name="twitter:image" content={`${baseUrl}/images/og-image.jpg`} /> -->

		<title>{title}</title>
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		
	</body>
</html>

<script>
	import "@tailwindplus/elements";
</script>

<script>
	document.addEventListener("DOMContentLoaded", () => {
		const header = document.getElementById("main-header");

		if (header) {
			const updateHeaderHeight = () => {
				document.documentElement.style.setProperty("--header-height", `${header.offsetHeight}px`);
			};

			updateHeaderHeight();
			window.addEventListener("resize", updateHeaderHeight);
		}
	});
</script>
